@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
}

body img {
  max-width: 100%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 75px;
  width: 100%;
  background-color: #d9d9d9;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5rem;
}

.header .up .language ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.header .up .language ul li {
  list-style-type: none;
}

.header .up .language ul li a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #595959;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.header .up .language ul li .active {
  text-decoration: none;
  color: #888787;
}

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 68px;
  margin: 0 5rem;
}

.header .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header .navbar ul li {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  list-style-type: none;
  border: 0.5px solid rgba(136, 135, 135, 0.4);
}

.header .navbar ul li h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.header .navbar ul li p {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

main .dvgImage {
  position: relative;
}

main .dvgImage .circleImg {
  position: absolute;
  bottom: 2rem;
  left: 50vw;
}

main .dvgImage .circleImg:hover {
  cursor: pointer;
}

main .dvgOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3rem 0;
  gap: 2rem;
}

main .dvgOne .dvgOneImage {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main .dvgOne .dvgOneImage .dvgOneImg {
  max-width: none;
}

main .dvgOne .dvgOneRight {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 10rem;
}

main .dvgOne .dvgOneRight .dvgOneUp .dvgOneTitle {
  margin: 2rem 0 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 34px;
  color: #303030;
}

main .dvgOne .dvgOneRight .dvgOneUp .line {
  height: 6px;
  width: 10vw;
  background-color: #bf0f0f;
  margin-bottom: 1rem;
}

main .dvgOne .dvgOneRight .dvgOneUp .dvgOneSubTitle {
  margin-bottom: 2rem;
}

main .dvgOne .dvgOneRight .dvgOneUp .dvgOneSubTitle h3 {
  font-family: "Inter", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #474747;
}

main .dvgOne .dvgOneRight .dvgOneUp hr {
  border: 1px solid;
  color: rgba(196, 196, 196, 0.4);
}

main .dvgOne .dvgOneRight .dvgOneDown {
  margin-top: 2rem;
  font-family: "Roboto", sans-serif;
}

main .dvgOne .dvgOneRight .dvgOneDown p {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #474747;
}

main .dvgOne .dvgOneRight .dvgOneDown .aboutUsBtn {
  margin-top: 5rem;
  display: inline-block;
  padding: 14px 16px;
  background-color: #bf0f0f;
  border: 0;
  border: 2px solid #bf0f0f;
  color: #fff;
  text-align: center;
  font-weight: 500;
  width: auto;
  border-radius: 4px;
  font-size: 16px;
}

main .dvgOne .dvgOneRight .dvgOneDown .aboutUsBtn:hover {
  cursor: pointer;
}

main .dvgThree {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .dvgThree h4 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  color: #474747;
}

main .dvgThree .line {
  height: 2px;
  width: 10%;
  background-color: #bf0f0f;
  margin-top: 0.5rem;
}

main .dvgFour {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .dvgFour .dvgFourTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .dvgFour .dvgFourTitle h2 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 34px;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */