@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $main-color;

  img {
    max-width: 100%;
  }
}

.header {
  display: flex;
  flex-direction: column;

  .up {
    display: flex;
    height: 75px;
    width: 100%;
    background-color: $header-color;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;

    .language {
      ul {
        display: flex;
        gap: 1rem;

        li {
          list-style-type: none;

          a {
            text-decoration: none;
            font-family: "Roboto", sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 0em;
            text-align: left;
            color: $header-text;
            text-decoration-line: underline;
          }

          .active {
            text-decoration: none;
            color: $header-active;
          }
        }
      }
    }
  }

  .navbar {
    display: flex;
    justify-content: center;
    height: 68px;
    margin: 0 5rem;

    ul {
      display: flex;
      flex: 1;

      li {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
        list-style-type: none;
        border: 0.5px solid rgba(136, 135, 135, 0.4);

        h3 {
          font-family: "Roboto Condensed", sans-serif;
          font-size: 16px;
          font-weight: 400;
        }

        p {
          font-family: "Roboto", sans-serif;
          font-size: 12px;
        }
      }
    }
  }
}

main {
  .dvgImage {
    position: relative;

    .circleImg {
      position: absolute;
      bottom: 2rem;
      left: 50vw;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .dvgOne {
    display: flex;
    margin: 3rem 0;
    gap: 2rem;

    .dvgOneImage {
      flex: 1;
      .dvgOneImg {
        max-width: none;
      }
    }

    .dvgOneRight {
      flex: 1;
      margin-right: 10rem;

      .dvgOneUp {
        .dvgOneTitle {
          margin: 2rem 0 1rem 0;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          font-family: "Roboto", sans-serif;
          font-weight: 700;
          font-size: 42px;
          line-height: 34px;
          color: $main-title-color;
        }

        .line {
          height: 6px;
          width: 10vw;
          background-color: $main-line-color;
          margin-bottom: 1rem;
        }

        .dvgOneSubTitle {
          margin-bottom: 2rem;

          h3 {
            font-family: "Inter", sans-serif;
            font-size: 28px;
            font-weight: 400;
            line-height: 34px;
            letter-spacing: 0em;
            text-align: left;
            color: $main-text-color;
          }
        }

        hr {
          border: 1px solid;
          color: rgba(196, 196, 196, 0.4);
        }
      }

      .dvgOneDown {
        margin-top: 2rem;
        font-family: "Roboto", sans-serif;
        p {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 160%;
          color: $main-text-color;
        }

        .aboutUsBtn {
          margin-top: 5rem;
          display: inline-block;
          padding: 14px 16px;
          background-color: $main-line-color;
          border: 0;
          border: 2px solid $main-line-color;
          color: $white-color;
          text-align: center;
          font-weight: 500;
          width: auto;
          border-radius: 4px;
          font-size: 16px;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  .dvgThree {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;

    h4 {
      font-family: "Roboto", sans-serif;
      font-size: 24px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left;
      text-transform: uppercase;
      color: $main-text-color;
    }

    .line {
      height: 2px;
      width: 10%;
      background-color: $main-line-color;
      margin-top: 0.5rem;
    }
  }

  .dvgFour {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    .dvgFourTitle {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h2 {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 42px;
        line-height: 34px;

        text-align: center;
      }

      h3 {
      }
    }
  }
}
